<!DOCTYPE html>
<html>
    <head>
        <title>George Kochera - Final Project - CS 493</title>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>
    <body>
        <div class='container'>
            <%- include('../partials/header'); %>
            <h2>You have authenticated!</h2>
            <p> This is your JSON Web Token so you can navigate the members only
                section of our cool ⛵ Boats/Loads/Users API.</p>
                <table>
                    <tr>
                        <th>JSON Web Token</th>
                    </tr>
                    <tr>
                        <td><%= data.id_token %></td>
                    </tr>
                </table>
            <p>Your first name is <span class='name'><%= data.firstName %></span> and your last name is 
                <span class='name'><%= data.lastName %></span>. Your states are the same too!</p>
            <table>
                <tr>
                    <th>Sent</th>
                </tr>
                <tr>
                    <td><%= data.state.sent %></td>
                </tr>
                <tr>
                    <th>Received</th>
                </tr>
                <tr>
                    <td><%= data.state.received %></td>
                </tr>
            </table>
            <p>We store the state in a cookie on your machine so it's always specific to you!
                Open your developer tab when going through this process, and you can see the cookie
                and the data it contains. Hit the 'Go Home' button to give it another try! Notice the
                state changes each time.</p>
            <div class='button'>
                <a href="/"><button>Go home!</button></a>
            </div>
        </div>
    </body>
</html>