<!DOCTYPE html>
<html>
    <head>
        <title>George Kochera - Final Project - CS 493</title>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>
    <body>
        <div class='container'>
            <%- include('../partials/header'); %>
            <h2>You have registered! Welcome aboard!</h2>
            <%- include('../partials/jwt'); %>
            <p>Your first name is <span class='name'><%= data.firstName %></span> and your last name is 
                <span class='name'><%= data.lastName %></span>. Your states are the same too!</p>
            <p>Your unique Google Subscriber ID is <span class='name'><%= data.sub %></span>.</p>
            <div class='button'>
                <a href="/"><button>Go home!</button></a>
            </div>
        </div>
        <%- include('../partials/javascript'); %>
    </body>
</html>